@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>Use this area to provide additional information.</p>

<p>First name: <span data-bind="text: firstName"></span></p>
<p>Last name: <span data-bind="text: lastName"></span></p>
<h2>Hello, <input data-bind="value: fullName" />!</h2>
<script type="text/javascript" src="~/Scripts/knockout-3.4.2.debug.js"></script>
<script type="text/javascript">
    var viewModel = {
        firstName: ko.observable("allen"),
        lastName: ko.observable("su")
    };

    viewModel.fullName = ko.dependentObservable({
        read: function () {
            return this.firstName() + " " + this.lastName();
        },
        write: function (value) {
            var lastSpacePos = value.lastIndexOf(" ");
            if (lastSpacePos > 0) {
                this.firstName(value.substring(0, lastSpacePos));
                this.lastName(value.substring(lastSpacePos + 1));
            }
        },
        owner: viewModel
    });
</script>



